<h2>フォロー中</h2>
<% if @users.exists? %>
<table class="mx-auto table">
  <tr>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>

  <tr>
    <td><%= link_to user_path(user.id) do %>
        <%= image_tag user.get_profile_image(50,50) %><br>
        <%= user.name %><% end %></td>
    <td><%= user.introduction %></td>
  </tr>
  <% end %>
</table>

<% else %>
<p>ユーザーはいません</p>
<% end %>