<% if users.exists? %>

<h1>ユーザー</h1>
<div>
  <table>
    <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= link_to user_path(user.id) do %>
        <%= image_tag user.get_profile_image(40,40) %>
        <% end %></td>
        <td><%= user.name %></td>
        <td><%= user.introduction %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% else %>
<p>検索結果はありません</p>
<% end %>
