<div class="container">
  <div class="row">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 mx-auto">
      <h3 class="text-center">いいね一覧</h3>
      <% if @favorite_posts.exists? %>
      <%= render "posts/index", posts: @favorite_posts %>
      <% else %>
      <p class="text-center">いいねした投稿はありません</p>
      <% end %>
    </div>
  </div>
</div>