<div class="container">
  <div class="row">
    <div class="mx-auto">

      <h2 class="col-12 text-center">SOCCERZONE</h2>
      <p class="lead text-center">観戦したサッカーの試合の感想や情報を共有しましょう</p>
      <p class="lead text-center">
        <%= link_to 'ログイン',new_user_session_path, class: "btn btn-lg btn-info fw-bold border-white bg-black" %>
        <%= link_to '新規登録',new_user_registration_path, class: "btn btn-lg btn-success fw-bold border-white bg-black" %>
      </p>
    </div>
  </div>
</div>





