<div class="container  p-3 mx-auto flex-column">
  <div class="row">
    <div class="mx-auto col-12 text-center">

    <h1>SOCCERZONE</h1>
    <p class="lead">観戦したサッカーの試合の感想や情報を共有しましょう</p>
    <p class="lead">
      <%= link_to 'サインイン',new_user_session_path, class: "btn btn-lg btn-info fw-bold border-white bg-black" %>
      <%= link_to '新規登録',new_user_registration_path, class: "btn btn-lg btn-success fw-bold border-white bg-black" %>
    </p>
    </div>
  </div>
</div>





