<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">

<% if posts.exists? %>
<%= render 'posts/index', posts: @posts %>

<% else %>
<p class="text-center">検索結果はありません</p>
<% end %>
</div>
</div>
</div>